img {
  border: 5px solid darkblue;
}

.box {
  border: 5px solid darkblue;
}

.preview {
    width: 90%;
    max-width: 700px;
    border: 1px solid #4D4E53;
    border-radius: 2px;
    padding: 10px 14px 10px 10px;
    margin-bottom: 10px;
}

.wrapper {
    font-size: 16px;
    display: flex;
    margin: 20px;
}

.box2 {
  border: 5px solid darkblue;
  height: 150px;
  width: 200px;
  margin: 40px;
  font-size: 24px;
}

.box3 {
  border: 5px solid darkblue;
  width: 50%;
}
    
.box4 {
  border: 5px solid darkblue;
  width: 200px;
  margin: 10%;
  padding: 10%;
  font-size: 32px;
}

.box5 {
  border: 5px solid darkblue;
  min-height: 150px;
  width: 200px;
  font-size: 32px;
}
    
.wrapper2 {
    display: flex;
    align-items: flex-start;
}

.wrapper2 > * {
    margin: 20px;
}

.box6 {
  width: 200px;
}
.minibox {
  width: 50px;
}
.width {
  width: 100%;
}
.max {
  max-width: 100%;
}

.box7 {
    border: 5px solid darkblue;
    width: 20vw;
    height: 20vh;
    font-size: 10vh;
}
